
h1{color:#091CC4; font-size:24px; text-align:center; text-decoration:blink;}
h3{text-align:right; font:12px normal;}
p{font-size:12px; text-align:left; line-height:28px; text-indent:2em;}
p span{color:#F00;}
