@charset "utf-8";

/*****************
使用通配符选择器设置整个页面内所有元素的CSS属性
*****************/
*{
	margin:0px;					/*设置页面内所有元素的外边距默认为0px*/
	padding:0px;				/*设置页面内所有元素的内边距默认为0px*/
	font-size:12px;				/*一般网页中的文字都是12个像素，因此可以在通配选择器中设置，若有其他字体大小，可在相应元素的css中单独设置，可覆盖掉通配选择器中设置的值*/
}


/*****************
整个页面的CSS属性
*****************/
body{
	background-color:#FED8D9;	/*使用取色器，取出满屋花页面的背景色，并将body（代表整个页面）的背景色设置为此颜色*/
}


/*****************
容器框架div
*****************/
#container {
	width:700px;				/*依据素材图片的尺寸，设置整个页面的宽度*/
	margin:0px auto;			/*将容器框架div的左右margin（外边距）设置为auto，可以使容器框架在不同屏幕																                                  分辨率下都能保持居中*/
	background-color:#FED8D9;

	
	/*测试代码，可能会被修改或删除*/
	height:1000px;
}


/*****************
左边部分div
*****************/
#main_left{
	width:180px;				/*依据素材图片的尺寸，设置左边部分的宽度*/
	margin-top:3px;				/*设置左边部分div的上外边距，使此div和导航部分有3个像素的空隙*/
	background-color:#FFF;		/*设置此div的背景色为白色*/
	float:left;					/*将此div设为浮动，因此它与右边部分是并列结构的*/
	background-image:url(../images/leftbottom.jpg);		/*将列表符图片添加为main_left的背景图片*/
	background-repeat:no-repeat;/*当背景图片无法覆盖全部div时，也不会使用平铺*/
	/*
	background:url(../images/leftbottom.jpg) no-repeat;
	以上两个css属性可用此css属性取代
	*/
	background-position:bottom; /*设置背景图片的位置，使用css提供的属性值bottom，将背景图片放置在其所在盒子模型的底部*/
	
	/*测试代码*/
	height:850px;
}

/*****************
右边部分div
*****************/
#main_right{
	width:518px;				/*依据素材图片的尺寸，设置左边部分的宽度*/
	margin-top:3px;				/*设置右边部分div的上外边距，使此div和导航部分有3个像素的空隙*/
	margin-left:2px;			/*设置右边部分div的左外边距，使此div和左边部分有2个像素的空隙*/	
	float:left;					/*将此div设为浮动，因此它与右边部分是并列结构的*/
}
/*****************
整个页面的ul元素
*****************/
ul{
	list-style-type:none;		/*设置页面中全部无序列表都没有列表符*/
}

/*****************
整个页面的a元素
*****************/
a{
	text-decoration:none;		/*设置页面中所有超链接默认没有下划线*/
	color:#000;					/*设置页面中所有超链接默认字色为黑色*/
}

/*****************
整个页面的a元素的hover伪类（鼠标悬停在超链接上时，超链接的效果）
*****************/
a:hover{
	text-decoration:underline;	/*设置页面中所有超链接默认为，鼠标悬停其上时出现下划线*/
}

/*****************
整个页面的img元素
说明：整个网页多处用到将图片作为超链接，此时图片会自动加上边框。因此在这里设置所有图片无边框。
*****************/
img{
	border:0px;
}