@charset "utf-8";
/* CSS Document */

/*****************
顶部部分——横幅部分div
*****************/
#top_banner{
	background-image:url(../images/banner.jpg);		/*将横幅图片设置为横幅部分div的背景图片*/
	background-repeat:no-repeat;					/*当背景图片无法覆盖全部div时，也不会使用平铺*/
	/*
	background:url(../images/banner.jpg) no-repeat;
	以上两个css属性可用此css属性取代
	*/
	
	/*因为图片是作为div背景的，因此若div本身无宽度和高度，则div显示不出来，背景图片自然也显示不出来*/
	width:700px;									/*根据横幅图片的宽度设置div的宽度*/
	height:120px;									/*根据横幅图片的高度设置div的高度*/
}

/*****************
顶部部分——导航栏部分div
说明：此div不设置高度的话，因为导航栏内所有li全部为浮动元素，不占任何位置，会导致后续的main_left和main_right两个div和导航栏重叠
*****************/
#top_navigate{
	height:33px;
	width:700px;
}

/*****************
所在容器：顶部部分——导航部分
样式表对象：导航栏的无序列表
说明：
1、为避免影响页面内其他无序列表元素，因此采用id选择器、包含选择器和元素选择器混合使用的方式指定该样式表的应用范围。
*****************/
#top_navigate ul{
	list-style-type:none;							/*去掉无序列表的列表符*/
}

/*****************
所在容器：顶部部分——导航部分--无序列表
样式表对象：导航栏的无序列表中的各列表项
说明：
1、为避免影响页面内其他列表项元素，因此采用id选择器、包含选择器和元素选择器混合使用的方式指定该样式表的应用范围。
*****************/
#top_navigate ul li{
	float:left;										/*设置无序列表的所有列表项向左浮动，实现导航菜单横排列*/
}


/*****************
所在容器：顶部部分——导航部分--无序列表——列表项
样式表对象：导航栏的无序列表中的各列表项中的超链接
说明：
1、为避免影响页面内其他列表项元素，因此采用id选择器、包含选择器和元素选择器混合使用的方式指定该样式表的应用范围。
*****************/
#top_navigate ul li a{
	background-image:url(../images/button1.jpg);	/*为超链接设置背景图*/
	background-repeat:no-repeat;					/*当背景图片无法覆盖全部超链接"块"时，也不会使用平铺*/
	/*
	background:url(../images/button1.jpg) no-repeat;
	以上两个css属性可用此css属性取代
	*/
	width:100px;									/*为每个超链接设置高度和宽度，具体值为导航栏背景图片的尺寸*/
	/* height:33px;									  设置行高line-height后可省略高度*/
	text-align:center;								/*设置超链接中的文字水平居中*/
	line-height:33px;								/*设置超链接中每行文字的高度，行高等于超链接"块"的高度时，表示此超链接"块"仅有一行，且整行高度恰好等于超链接"块"的高度，即可实现文字的垂直居中*/
	display:block;									/*将超链接转换为块级元素，此时超链接的高度、宽度和背景图片等才生效*/
	color:#360908;									/*使用取色器取出成品页面的紫色，填写到此处来，设置超链接文字的颜色*/
	text-decoration:none;							/*设置此属性可取消掉超链接文字的下划线*/
}

/*****************
所在容器：顶部部分——导航部分--无序列表——列表项
样式表对象：导航栏的无序列表中的各列表项中的超链接的hover伪类（鼠标悬停效果）
说明：
1、为避免影响页面内其他列表项元素，因此采用id选择器、包含选择器和元素选择器混合使用的方式指定该样式表的应用范围。
*****************/
#top_navigate ul li a:hover{
	background-image:url(../images/button1_bg.jpg);	/*为超链接设置鼠标悬停时的背景图*/
	background-repeat:no-repeat;					/*当背景图片无法覆盖全部超链接"块"时，也不会使用平铺*/
	/*
	background:url(../images/button1_bg.jpg) no-repeat;
	以上两个css属性可用此css属性取代
	*/
}