div {
	margin:10px;
	padding:5px;
	font-size:12px;
	line-height:25px;
}
#father {
	border:1px #666 solid;
	padding:0;
}
#first {
	background-color:#f2bb6f;
	border:1px #B55A00 dashed;
}
#second {
	background-color:#003580;
	border:1px #0000A8 dashed;
}
#third {
	background-color:#f3f3f3;
	border:1px #395E4F dashed;
}
