div {
	margin:10px;
	padding:5px;
}
#father {
	border:1px #000 solid;
}
.layer01 {
	border:1px #F00 dashed;
}
.layer02 {
	border:1px #00F dashed;
}
.layer03 {
	border:1px #060 dashed;
}
.layer04 {
	border:1px #666 dashed;
	font-size:12px;
	line-height:23px;
}
